<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Lista de usuarios</title>
</head>
<body>
    
    <div class="container">
      <h1 align="center">Reportes App Muni Tacna</h1>
      <h6>Selecciona la categoria:</h6>
      
        <form action="/reportes" method="POST">
        <div class="row">
         <div class="col-8">
           <select class="form-control form-control-lg" name="categoria" id="categoria">
                            
                            <option class ="categoria" name="categoria" id="carrera_1" value="Parques y Jardines">Parques y Jardines</option>
                            <option class ="categoria" name="categoria" id="carrera_2" value="Pistas y Veredas">Pistas y Veredas</option>
                            <option class ="categoria" name="categoria" id="carrera_3" value="Seguridad">Seguridad</option>
                            <option class ="categoria" name="categoria" id="carrera_4" value="Transporte Público">Transporte Público</option>
                            <option class ="categoria" name="categoria" id="carrera_5" value="Limpieza Pública">Limpieza Pública</option>
                            
                          </select>
                            
          </div>
          <div class="col-4" class="btn waves-effect waves light">
                        <button id="submitButton" type="submit" value="submit" class="btn btn-success btn-lg"> <i class="">Buscar!</i></button>

          </div>
      </div>
      
              </form>
              <br>          
              
      
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Categoria</th>
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha </th>
      <th scope="col">Ubicación </th>
      <th scope="col">Imagen </th>
    </tr>
  </thead>
  <tbody>
      {{#each listaReportes}}
    <tr>
      <th scope="row">1</th>
      <td>{{categoria}}</td>
      <td>{{titulo}}</td>
      <td>{{descripcion}}</td>
      <td>{{fecha}}</td>
      <td>{{ubicacion}}</td>
      <td><a href="{{imgURL}}" class="btn btn-info" role="button">Ver Imagen</a></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> AppMuniTacna</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
</html>